{% extends 'music/base.html' %}

{% block title %}Upload{% endblock %}

{% block content %}
    <p><strong>Note:</strong> Please upload only files with .mp3 or .flac extensions!</p>
    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}
        <div class="form-group">
        <form action="" method="post" enctype="multipart/form-data">
            {% include 'music/form_template.html' %}
            <br>
            <input type="submit" value="Add Song">
        </form>
        </div>
{% endblock %}