{% extends 'music/base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block upload %}
    <li><a href="{% url 'music:add_song' %}">Upload</a></li>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if songs %}
        Songs uploaded:
        <div class="row">
        {% for song in songs %}
            <ul>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="{% url 'music:details' song.pk %}">{{ song }}</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <form action="{% url 'music:delete' song.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-sm" value="Delete">
                    </form>
                </div>
            </ul>
        {% endfor %}
        </div>
    {% else %}
        You don't have songs uploaded from your account yet...
    {% endif %}

{% else %}

<h3>You are currently are not logged in. Please <a href="{% url 'music:login' %}">login</a>!</h3>

{% endif %}

{% endblock %}